# Configuration file for diviz
common.config=configuration/run_cfg/common.cfg

#javax.net.ssl.keyStore=
#javax.net.ssl.keyStorePassword=
#javax.net.ssl.trustStore=
#javax.net.ssl.trustStorePassword=


client=direct:x:0:localhost:4012

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=localhost
server.rmi.registry.port=4012

#
# Server
#
servers=direct
server.users=configuration/server/users.xml



#
# Platforms
#
platform.connection=direct:localhost:0
platforms=shell
platform.shell=configuration/platform/platform_shell.xml
